extends templates/main-template

block variables
  -
    pageTitle = 'Барбершоп | Фото'
    pageName = 'photo';

block vars
  - headerMainLogo = 'header-main__logo--small-height'

block main
  section.our-work
    div.our-work__container
      h1.title.our-work__title Наши работы
      a.our-work__button(href='index.html') на главную
    div.our-work__container
      article.card.our-work__card.our-work__card--work-month
        h2.visually-hidden Работа месяца
        div.card__container
          picture
            source(media='(min-width: 1200px)'
              srcset=require('../img/photo2-desktop.jpg'))
            source(media='(min-width: 768px)'
              srcset=require('../img/photo2-tablet.jpg'))
            img.card__img.card__img--our-work(src=require('../img/photo2.jpg') alt='Фото работы')
        div.card__feature-container
          p.card__feature работа месяца
        div.card__user-item
          p.card__user-name.card__user-name--our-work Лжепётр Мчиславский
          p.card__info.card__info--our-work Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!
          ul.card__items
            li.card__item
            //  svg(width='22' height='20' aria-label='Иконка - стрижка')
            //    use.card__item-img(xlink:href='#icon-scissors-icon')
            //  span.card__description стрижка
            //li.card__item
            //  svg(width='23' height='22' aria-label='Иконка - бритьё')
            //    use.card__item-img(xlink:href='#icon-beard-1')
            //  span.card__description бритьё
            //li.card__item
            //  svg(width='46' height='16' aria-label='Иконка - усы')
            //    use.card__item-img(xlink:href='#icon-mustache')
              span.card__description усы
      article.card.our-work__card
        h2.visually-hidden Работа
        picture
          source(media='(min-width: 1200px)'
            srcset=require('../img/photo3-desktop.jpg'))
          source(media='(min-width: 768px)'
            srcset=require('../img/photo3-tablet.jpg'))
          img.card__img(src=require('../img/photo3.jpg') alt='Фото работы')
        div.card__user-item
          p.card__user-name Саша Мальцев
          p.card__info Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?
          ul.card__items
            li.card__item
              //svg(width='22' height='20' aria-label='Иконка - стрижка')
              //  use.card__item-img(xlink:href='#icon-scissors-icon')
              span.card__description стрижка
      article.card.our-work__card
        h2.visually-hidden Работа
        picture
          source(media='(min-width: 1200px)'
            srcset=require('../img/photo4-desktop.jpg'))
          source(media='(min-width: 768px)'
            srcset=require('../img/photo4-tablet.jpg'))
          img.card__img(src=require('../img/photo4.jpg') alt='Фото работы')
        div.card__user-item
          p.card__user-name Владимир Иваныч
          p.card__info К зимнему сезону — готов!
          ul.card__items
            li.card__item
            //  svg(width='23' height='22' aria-label='Иконка - бритьё')
            //    use.card__item-img(xlink:href='#icon-beard-1')
            //  span.card__description борода
            //li.card__item
            //  svg(width='46' height='16' aria-label='Иконка - усы')
            //    use.card__item-img(xlink:href='#icon-mustache')
            //  span.card__description усы
      article.card.our-work__card
        h2.visually-hidden Работа
        picture
          source(media='(min-width: 1200px)'
            srcset=require('../img/photo5-desktop.jpg'))
          source(media='(min-width: 768px)'
            srcset=require('../img/photo5-tablet.jpg'))
          img.card__img(src=require('../img/photo5.jpg') alt='Фото работы')
        div.card__user-item
          p.card__user-name Винстон Синий
          p.card__info Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!
          ul.card__items
            li.card__item
              //svg(width='22' height='20' aria-label='Иконка - стрижка')
              //  use.card__item-img(xlink:href='#icon-scissors-icon')
              //span.card__description стрижка
  section.price-list
    h2.price-list__title прейскурант
    ul.price-list__items
      li.price-list__item
        p.price-list__numbering 1
        p.price-list__heading Классическая стрижка
        p.price-list__description
          span (
          | с мытьём головы
          span )
        p.price-list__price 1 500 руб.
      li.price-list__item
        p.price-list__numbering 2
        p.price-list__heading Современный вариант
        p.price-list__description
          span (
          | с мытьём головы
          span )
        p.price-list__price 1 500 руб.
      li.price-list__item
        p.price-list__numbering 3
        p.price-list__heading Индивидуальный подход
        p.price-list__description
          span (
          | с мытьём головы
          span )
        p.price-list__price 2 000 руб.
      li.price-list__item
        p.price-list__numbering 4
        p.price-list__heading Бритьё головы
        p.price-list__description
          span (
          | без мытья
          span )
        p.price-list__price 500 руб.
      li.price-list__item
        p.price-list__numbering 5
        p.price-list__heading Бритьё головы
        p.price-list__description
          span (
          | с мытьём головы
          span )
        p.price-list__price 1 000 руб.
    div.ie-flex-bugs-container
      div.price-list__clock
        //svg(width='60' height='60' aria-label='Часы')
        //  use.price-list__img(xlink:href='#icon-watches')
        p.price-list__time
          span C 10:00 до 14:00
          span  скидка 20%
